/* =================
!       TITULO DE CHANGELONG
===================*/
.tituloChangelog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: whitesmoke;
    margin-top: 120px;
}
.tituloChangelog h1 {
    display: block;
    position: relative;
    font-size: 3em;
    font-weight: lighter;
    border-bottom: rgb(255, 211, 130) solid 3px;
    padding-bottom: 10px;
    font-family: 'Mindustry', Tahoma, Geneva, Verdana, sans-serif;
}
.tituloChangelog h2 {
    display: block;
    position: relative;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Mindustry', Tahoma, Geneva, Verdana, sans-serif;
}

/* =================
!       ACTUALIZACIONES
===================*/


main.changelog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 11.25vw;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    border-radius: 6px;
    padding: 20px 10px;
    color: whitesmoke;
    overflow: clip;
    transition: all 0.4s;
    align-items: center;
    width: 77.5vw;
    gap: 20px;
    height: auto;
}
main.changelog > h2 {
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding: 0px 10px;
    position: relative;
}

main.changelog > h2::before{
    content: "<";
    color: rgb(255, 211, 130);
    font-size: 1em;
    position: absolute;
    left: -15px;
}
main.changelog > h2::after{
    content: ">";
    color: rgb(255, 211, 130);
    font-size: 1em;
    position: absolute;
    left: 475px;
}

main.changelog .bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(30, 30, 30, 0.9);
    border: 1px solid #333;
    padding: 20px;
    color: whitesmoke;
    overflow: clip;
    transition: all 0.4s;
    width: 70vw;
    gap: 10px;
    border-radius: 10px;
}

main.changelog .bloque:hover {
    box-shadow: 0 0 20px rgb(255, 211, 130);
    border: 1px solid rgb(255, 211, 130);
}

main.changelog .bloque ul{
    list-style-type: none;
}

main.changelog .bloque h2>span {
    color: rgb(255, 211, 130);
}

main.changelog .bloque h2{
    font-weight: lighter;
} 