/* =========================================
!           BODY PRINCIPAL
========================================= */
body {
    font-family: 'Mindustry', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
        url("../Imagenes/General/bg.jpg") center center /cover no-repeat fixed;
}
/* =========================================
!                  HEADER
=======================================0== */
header {
    display: flex;
    background: transparent;
    color: bisque;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

header img {
    width: 80px;
    height: 80px;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

header img:hover {
    transform: rotate(720deg);

}


header>nav {
    display: flex;
    gap: 20px;
    color: bisque;
    justify-content: space-around;
    font-size: x-large;
}

header>nav a {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 5px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

header>nav a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    transform: translateX(-50%) scalex(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
header>nav a:hover {
    color: rgb(255, 211, 130);
    
}

header>nav a:hover::after {
    bottom: -3px;
    height: 5px;
    background: rgb(255, 211, 130);
    animation: linearebotina 0.4s forwards;
    border-radius: 20px;
}


/* =========================================
!                   MAIN
*            es el  main base que usan todas las paginas para
*           separar la pag de el header. Si una pagina tiene un main especifico 
?           va a estar en : "{nombre de pagina}.css"
========================================= */
main.general{
    margin-top: 80px;
}

/* =========================================
?     La side bar {aside} esta en wiki.css porque se usa solamente ahi
========================================= */
/* =========================================
!                   FOOTER
========================================= */
footer{
    display: flex;
    justify-content: space-between ;
    background: rgba(20, 20, 20, 0.9);
    color:grey;
    padding: 13px 15px;
    margin-top: 0;
    margin-left: 0;
    border-top: 1px solid rgb(255, 211, 130);
    box-shadow: 0 0 30px rgb(255, 211, 130);
    width: 100%;
}

footer .redes{
    display:block;
    margin-left: 0px;
}
footer h3{
    all: unset;
    font-size: 1.6em;
    font-weight:600;
}
footer a{
    all:unset;
    transition: all 0.3s;
}

footer ul{
    list-style: none;
    padding-top: 7px;
}

footer a:hover{
    color: rgb(255, 211, 130);
    cursor: pointer;
}
footer ul > li:has(a:hover)::before{
    animation: iconoreboton 0.4s forwards;
    filter: brightness(0) saturate(100%) invert(86%) sepia(77%) saturate(2338%) hue-rotate(305deg) brightness(112%) contrast(101%);
}
footer ul > li.trello::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/trello.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.reddit::before{
    content: "";
    display: inline-block;
    background-image: url("../imagenes/General/reddit.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.github::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/github.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.ig::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/ig.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.twitter::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/x.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.youtube::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/youtube.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.gmail::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/gmail.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.discord::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/discord.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.telegram::before{
    content: "";
    display: inline-block;
    background-image: url("../Imagenes/General/telegram.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}

@keyframes iconoreboton{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.7);
    }
    50%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
footer a.subir {
    all:unset;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 5px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    transition: all .3s ease-in-out;
    font-size: 1.5em;
    text-transform: capitalize;

}
footer > a img{
    width: 100%;
}
footer a.subir:hover {
    color: rgb(255, 211, 130);
    animation: subirpaarriba 0.4s forwards;
}