main.tienda{
    margin-top: 100px;
    margin-bottom: 50px;
}
/* =========================================
!         TÍTULO 
========================================= */
.seccionTitulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    border-radius: 18px;
    margin: 100px 10px;
    padding-bottom: 20px;
    color: whitesmoke;
    gap: 20px;
}
.seccionTitulo .Titulo h1 {
    font-size: 3em;
    color: rgb(255, 211, 130);
}

.seccionTitulo .TextoAviso {
    font-size: 1.5em;
    width: 60%;
    text-align: center;
    color: lightgray;
}
.seccionTitulo .TextoAviso a {
    color: rgb(231, 174, 66);
    text-decoration: underline;
    text-transform: uppercase;
}
/* =========================================
!               Productos
========================================= */
.productoEspecifico {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    border-radius: 12px;
    padding: 18px;
    overflow: hidden; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.productoEspecifico h2 {
    color: whitesmoke;
    width: 40%;
    font-size: 2em;
    margin-right: 20px;
}

.productoEspecifico .productos {
    width: 100%;
    overflow: scroll;
}

.productoEspecifico .productos::-webkit-scrollbar {
    display: none;
}
.productoEspecifico .productos .track {
    display: flex;
    gap: 20px;
    animation: scroll 16s linear infinite alternate; 
    width: max-content;
}

.productoEspecifico .productos img {
    width: 300px;
    border-radius: 20px;
    border: 1px solid #333;
    transition: all .3s ease-in-out;
}
.productoEspecifico .productos img:hover {
    border: 7px solid #333;
}

.productoEspecifico .productos:hover .track {
    animation-play-state: paused;
}
