/* 
!       FIELDSET DEL MENU
*/
.TituloMerch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
    color: whitesmoke;
    margin-top: 120px;
    margin-bottom: 30px;   
}
.TituloMerch > h1{
    all:unset;
    display: block;
    position: relative;
    font-size: 3em;
    font-weight: lighter;
    border-top: rgb(255, 211, 130) double 10px;
    border-radius: 20px;
    padding-bottom: 10px;
}
.TituloMerch h2{
    font-weight:lighter;
    font-size: 1em;
}

/* 
!       nav
 */
.NavMerch{
    display: flex;
    justify-content: space-around;
}
/* 
boton
*/
a.BotonMerch{
    all: unset;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    border: 2px solid rgb(60, 60, 60);
    outline: 3px solid rgb(15, 15, 15);
    padding: 0px 100px;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.2s;
    width: 200px;
    height: auto;
    text-align: center;
}
a.BotonMerch:hover {
    transform: scale(1.05);
    border-color: rgb(255, 211, 130);
    box-shadow: 0 0 15px rgb(255, 211, 130);
}
a.BotonMerch:active {
    background-color: rgb(20, 20, 20);
    transform:
        scale(0.97);
}

/* 
MERCH
 */
.Peluches{
    display: 1;
}