main.tienda{
    margin-top: 100px;
    margin-bottom: 50px;
}
/* =========================================
!         TÍTULO + CARRUSEL (sección)
========================================= */
.seccionTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    border-radius: 18px;
    margin: 100px 10px;
    padding-bottom: 20px;
    color: whitesmoke;
    gap: 20px;
}
.seccionTitulo .Titulo h1 {
    font-size: 3em;
    color: rgb(255, 211, 130);
}

.seccionTitulo .productos {
  display:flex;
  background: transparent;
  justify-content: space-around;
  padding-left: 70px;
  align-items: center;
}
.seccionTitulo .productos a {
  display: inline-block;
  text-decoration: none;
  border: none;
}
.seccionTitulo .productos a img {
    width: 70%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #333;
    transition: all .4s;
}

.seccionTitulo .productos img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(71, 70, 69);
}