main.tienda{
    margin-top: 200px;
    margin-bottom: 50px;
}
/* ========================
!           CARRUSEL
============================== */
.carrusel{
    overflow: hidden;
}
.carrusel .movimiento{
    display: flex;
    width: 300%;
    animation: a 8s steps(3) infinite;
}
.carrusel .imagenes{
    flex-shrink: 0;
}
.carrusel img{
    width: 100vw;
    height: 70vh;
/*  */}
@keyframes a{
    to{
        transform: translateX(-300%);
    }
}