* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}


/* =========================================
!               FUENTES
========================================= */
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@font-face {
    font-family: Mindustry;
    src: url('Fonts/font_latin-webfont.724c3a88.woff2') format('woff2');
}

.mindustry {
    font-family: "Mindustry", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.suse-mono {
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.electrolize {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* =========================================
!           BODY PRINCIPAL
========================================= */
body {
    font-family: 'Mindustry', Tahoma, Geneva, Verdana, sans-serif;
    margin: 80px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
        url("Imagenes/General/bg.jpg") center center /cover no-repeat fixed;
}

/* =========================================
!                  HEADER
=======================================0== */
header {
    display: flex;
    background: transparent;
    color: bisque;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

header img {
    width: 80px;
    height: 80px;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

header img:hover {
    transform: rotate(720deg);

}


header>nav {
    display: flex;
    gap: 20px;
    color: bisque;
    justify-content: space-around;
    font-size: x-large;
}

header>nav a {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 5px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    transition: all 0.3s ease-in-out;
}

header>nav a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    transform: translateX(-50%) scalex(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
header>nav a:hover {
    color: rgb(255, 211, 130);
    
}

header>nav a:hover::after {
    bottom: -3px;
    height: 5px;
    background: rgb(255, 211, 130);
    animation: linearebotina 0.4s forwards;
    border-radius: 20px;
}

@keyframes linearebotina {
    0% {
        transform: translateX(-50%) scaleX(0);
    }

    50% {
        transform: translateX(-50%) scaleX(1.1);
    }

    70% {
        transform: translateX(-50%) scaleX(0.9);
    }

    100% {
        transform: translateX(-50%) scaleX(1);
    }
}

/* =========================================
!                   SIDEBAR
========================================= */

/* =========================================
!                   FOOTER
========================================= */
footer{
    display: flex;
    justify-content: space-between ;
    background: rgba(20, 20, 20, 0.9);
    color:grey;
    padding: 13px 15px;
    margin-top: 40px;
    margin-left: 0;
    border-top: 1px solid rgb(255, 211, 130);
    box-shadow: 0 0 30px rgb(255, 211, 130);
    width: 100%;
}

footer .redes{
    display:block;
    margin-left: 0px;
}
footer h3{
    all: unset;
    font-size: 1.6em;
    font-weight:600;
}
footer a{
    all:unset;
    transition: all 0.3s;
}

footer ul{
    list-style: none;
    padding-top: 7px;
}

footer a:hover{
    color: rgb(255, 211, 130);
    cursor: pointer;
}
footer ul > li:has(a:hover)::before{
    animation: iconoreboton 0.4s forwards;
    filter: brightness(0) saturate(100%) invert(86%) sepia(77%) saturate(2338%) hue-rotate(305deg) brightness(112%) contrast(101%);
}
footer ul > li.trello::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/trello.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.reddit::before{
    content: "";
    display: inline-block;
    background-image: url("imagenes/General/reddit.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.github::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/github.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.ig::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/ig.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.twitter::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/x.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.youtube::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/youtube.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.gmail::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/gmail.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.discord::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/discord.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
footer ul > li.telegram::before{
    content: "";
    display: inline-block;
    background-image: url("Imagenes/General/telegram.png");
    filter: brightness(0) saturate(100%) invert(41%) sepia(80%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}

@keyframes iconoreboton{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.7);
    }
    50%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* =========================================
!               MENÚ (titulo y botones)
========================================= */

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 130px 0 0 0;
}
.menu .titulo img{
    width: 100%;
    height: auto;
}
.menu .botones{
    display: flex;
    gap: 15px;
}
/* ? Botonones */
.menu a{
    all: unset;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    border: 2px solid rgb(60, 60, 60);
    outline: 3px solid rgb(15, 15, 15);
    padding: 0px 3vw;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.2s;
    width: 200px;
    height: auto;
    text-align: center;
}
.menu a:hover {
    transform: scale(1.05);
    border-color: rgb(255, 211, 130);
    box-shadow: 0 0 15px rgb(255, 211, 130);
}
.menu a:active {
    background-color: rgb(20, 20, 20);
    transform:
        scale(0.97);
}



/* =========================================
!             preview del juego
?          (index.html) 
========================================= */
.PreviewFotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin:120px 10px;
}

.PreviewFotos >.columna {
    display: flex;
    flex-direction: column;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    padding: 20px;
    color: whitesmoke;
    overflow: clip;
    transition: all 0.4s;
    align-items: center;
}
.PreviewFotos > :nth-child(2) {
    grid-area: 1 / 2 / 3 / 4;}

.PreviewFotos p {
    all: unset;
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
}

.PreviewFotos p>span {
    color: rgb(255, 211, 130);
}

.PreviewFotos > .columna img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 18px;
    object-fit: cover;
    transition: all 0.4s ;
}
.PreviewFotos .columna:hover {
    border-color: rgb(255, 211, 130);
    box-shadow: 0 0 15px rgb(255, 211, 130);
}
.PreviewFotos .columna:hover img {
    transform: scale(1.01);
}



/* =========================================
!              Banda Publi 
========================================= */
.musica{
    display:grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.musica div{
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    padding: 20px;
    color: whitesmoke;
    overflow: clip;
    align-items: center;
}
/* =================
!       TITULO DE DESCARGAS 
        ?(adquirir.html)
===================*/
.tituloDescargas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
    color: whitesmoke;
    margin-top: 120px;   
}
.tituloDescargas h1{
    display: block;
    position: relative;
    font-size: 3em;
    font-weight: lighter;
    border-bottom: rgb(255, 211, 130) solid 3px;
    padding-bottom: 10px;
}
.tituloDescargas h2{
    font-weight:lighter;
    font-size: 1em;
}

/* =================
!       MENU DE DESCARGAS
?       (adquirir.html)
===================*/
/* ?    Diseño de la tabla */
.descargar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 120px 20px ;
    gap: 20px;
}
.descargar > .fila,
.descargar > .columna{
    display: flex;
    justify-content: space-between;
    background: rgba(20, 20, 20, 0.686);
    border: 1px solid #333;
    padding: 20px;
    color: whitesmoke;
    overflow: clip;
    align-items: center;
    font-size: 1.4em;
    transition: all 0.4s;
    height: auto;
    position: relative;
    border-radius: 10px;
}

.descargar > .fila{
    flex-direction: row;
    grid-column: span 2;
}
.descargar > .columna{
    flex-direction: column;
    grid-row : span 2;
}

/* ? Diseño especifico de las FILAS(steam e itchio) */
.fila > iframe.steam{
    border: none;
    width: 70%;
    height: 100%;
    margin-top: 10%;
}
.fila div.linea{
    width: 2px;
    height: 100%;
    border-radius: 0px;
    background-color: rgb(10, 70, 130);
    filter: brightness(0) invert(1);
    transition: all 0.4;
}

.fila > iframe.itchio{
    border: none;
    width: 70%;
    height: 60%;
    margin-bottom: 20px;
}
.fila > img{
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    filter: brightness(0) invert(1);
}
/* ? Diseño COLUMNAS */
.columna > div.botones{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.columna > div.apple{
    padding: 15% 0%;
}
.columna > div.android{
    padding: 10% 0;
}
.columna > div.botones a{
    all: unset;
    text-align: center;
}
.columna > div.botones a:has(img:hover){
    cursor: pointer;
}

.columna > div.botones img{
    width: 70%;
    height: auto;
}
.columna div.linea{
    width: 10px;
    height: 190px;
    border-radius: 90px;
    background: rgb(190, 158, 100);
}
.columna > img{
    width: 40%;
    height: auto;
    border-bottom: 2px solid rgb(255, 211, 130);
    margin: 0;
    padding: 0;
}
/* ===========
!  BETA 
? (beta.html)
=======*/
main.beta{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 1fr;
    margin: 30vh 1vw;
    background-color: rgba(20, 20, 20, 0.6);
    border: rgb(42, 39, 39) 3px solid;
    border-radius: 10px;
    padding: 10px;
}
/*?   TITULO          */
.tituloBeta{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:2vh;
    color: whitesmoke;
    margin-top: 10vh;
}
.tituloBeta h1{
    display: block;
    position: relative;
    font-size: 3em;
    font-weight: lighter;
    border-bottom: rgb(255, 211, 130) solid 3px;
    padding-bottom: 10px;
}
.tituloBeta h1>span{
    color: rgb(255, 211, 130); 
}
.tituloBeta h2{
    font-weight:lighter;
    font-size: 1em;
}
.tituloBeta > img{
    width: 100%;
    height: auto;
}
/* =================
!       BETA TESTER FORM 
?       (beta.html)
===================*/
.participarbeta{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    margin: 10vh 05vw;
    padding: 10%;
    background-color: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    box-shadow: 0 0 6px rgb(255, 211, 130);
    color: whitesmoke;
    border-radius: 20px ;
}
.participarbeta p{
    font-size: 1.4em;
}
.participarbeta > .selectbox{
    position: relative;
    width: auto;
    display: inline-block;
}
.participarbeta select {
    all:unset;
    width: 220px;
    padding: 10px 40px 10px 15px;
    font-size: 1.1em;
    color: whitesmoke;
    background: rgba(30, 30, 30, 0.9);
    border: 2px solid rgb(255, 211, 130);
    border-radius: 4px;
    outline: none;
    appearance: none;
    cursor: pointer;
    width: 260px;
    box-shadow: 0 0 8px rgba(255, 211, 130, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.participarbeta select:focus {
    border-color: #ffe082;
    box-shadow: 0 0 12px rgb(255, 211, 130);
}
.participarbeta .selectbox::after {
    content: "...";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: rgb(255, 211, 130);
    font-size: 3em;
    pointer-events: none;
}
.participarbeta input[type="password"],
.participarbeta input[type="email"]{
    all: unset;
    width: 260px;
    padding: 10px 15px;
    font-size: 1.1em;
    color: whitesmoke;
    background: rgba(30, 30, 30, 0.9);
    border: 2px solid rgb(255, 211, 130);
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(255, 211, 130, 0.2);
    margin-bottom: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.participarbeta input[type="password"]:focus,
.participarbeta input[type="email"]:focus {
    border-color: rgb(255,211,130);
    box-shadow: 0 0 12px rgb(255, 211, 130);
}

.participarbeta button,
.participarbeta input[type="submit"] {
    all: unset;
    background: rgb(255, 211, 130);
    color: #222;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 211, 130, 0.2);
    transition: all 0.35s ease-in-out;
    margin-top: 10px;
    text-align: center;
    border: 2px solid rgb(255, 211, 130);
}

.participarbeta button:hover,
.participarbeta input[type="submit"]:hover {
    background: #222;
    color: rgb(255, 211, 130);
    box-shadow: 0 0 15px rgb(255, 211, 130);
}

.participarbeta input[type="checkbox"]{
    display: block;
    opacity:0;
}
.participarbeta span{
    display:inline-block;
    background: rgba(30, 30, 30, 0.9);
    border: 2px solid rgb(255, 211, 130);
    height: 20px;
    width: 20px;
    vertical-align: middle;
    position: relative;
    border-radius: 10%;
}
.participarbeta span:has(input[type="checkbox"]:checked){
    background-color: aliceblue;
}